

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.auth-buttons a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 20px;
    margin-left: 20px;
}

.auth-buttons a:hover {
    background-color: #fff;
    color: #333;
}

.hero {
    background-image: url('./pic/bg3.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 270px 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
}